<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="database" value="wpp_realm"/>
		<add key="db_hostname" value="localhost"/>
		<add key="db_password" value="1111"/>
		<add key="port" value="3733"/>
		
		<add key="default_player_movement_speed" value="100"/>
	</appSettings>
</configuration>